<div class="container">
  <div
    *ngFor="let product of products"
    class="border border-2 my-2 px-2 border-secondary rounded"
  >
    <h4 [title]="product.name + ' details'">
      <a href="#" [routerLink]="['/products', product.id]">{{
        product.name
      }}</a>
    </h4>
    <p *ngIf="product.description">{{ product.description }}</p>
    <button (click)="share()" class="btn btn-primary my-2">Share</button>
    <app-product-alerts
      [product]="product"
      (notify)="onNotify()"
    ></app-product-alerts>
  </div>
</div>
