<nav class="navbar navbar-light bg-light">
  <div class="container">
    <h2><a class="navbar-brand" [routerLink]="['/']">Shooping Cart</a></h2>
    <div class="d-flex">
      <button
        class="btn btn-outline-secondary"
        type="submit"
        [routerLink]="['/cart']"
      >
        Checkout
        <span
          class="position-absolute top-2 start-100 translate-middle badge rounded-pill bg-light text-dark border border-2"
        >
          {{ ItemsInCart.length }}
        </span>
      </button>
    </div>
  </div>
</nav>
